Source: prometheus-jmx-exporter
Priority: optional
Maintainer: Andrew Otto (WMF) <otto@wikimedia.org>
Build-Depends: debhelper (>= 9), default-jdk, maven
Standards-Version: 3.9.5
Section: libs
Homepage: https://github.com/prometheus/jmx_exporter

Package: prometheus-jmx-exporter
Architecture: all
Depends: default-jre
Description: JMX to Prometheus exporter
 .
 A Collector that can configurably scrape and expose mBeans of a JMX target.
 It meant to be run as a Java Agent, exposing an HTTP server and scraping the local JVM.
 This can be also run as an independent HTTP server and scrape remote JMX targets.
